@model Shopping.Data.Entities.City

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <partial name="_CityDetails" />
</div>
<div>
    <a asp-action="EditCity" class="btn btn-outline-warning" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="DetailsState" class="btn btn-outline-success" asp-route-id="@Model?.State.Id">Regresarr</a>
</div>
