@model Shopping.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Detalless</h1>

<div>
   <partial name="_CountryDetails"/>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
</div>
